# Configuration Gens-Relay

# Le domaine ou l'IP du serveur de relais (signaling) WebSocket
RELAY_DOMAIN=ws://localhost:38420

# Le token d'authentification pour se connecter au relais
AUTH_TOKEN=secret_token

# Le nom de l'hôte (optionnel, remplace le hostname de la machine)
NODE_NAME=MonAppareil
