# Rust / Cargo
target/
target_run*/
**/*.rs.bk

# Environnement / Secrets
.env
.env.*
!.env.example

# Données d'application
/downloads/
/gens-daemon/downloads/
.ipc_port
prefs.json

# IDE et OS
node_modules/
.vscode/
.idea/
*.swp
*.swo
.DS_Store
Thumbs.db

# Tauri & Frontend Web
dist/
gens-gui/dist/
gens-gui/src-tauri/gen/
